.aaa{
    max-width: 900px;
    width: 100%;

    
}
.aaa .ss-card{
    display: flex;
}

.aaa .box-text1{
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 100%;
}

.aaa .box-text1 .text1{
    width: 100%;
}

.aaa .box-text1 .text2{
    margin-top: auto;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.x1{
    
}
.x2{
    
}